@import "var";

@media screen and (max-width: 768px) {
  .navbar-z {
    background-color: $ijo;
  }
  .logo {
    font-size: 14px;
    padding-left: 0;
    display: none;
  }
  .role {
    .role-item {
      margin: 10px 10px;
    }

    .role-prm {
      margin: 10px 10px;
    }
  }
}
